[submodule "raven-messenger-backend"]
path = raven-messenger-backend
url = https://github.com/dolamasa1/raven-messenger-backend.git

[submodule "messenger-server"]
	path = messenger-server
	url = https://github.com/dolamasa1/nodejs-messanger-Server
